// Remove the extra border around the screen when using vh/vw
html,
body {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  grid-column: 1 / span 0;
  grid-row: 1 / span 2;
  background: linear-gradient(45deg, #12032b, #6c10ff);
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.about {
  grid-column: 2 / span 3;
  grid-row: 2 / span 0;
  background: linear-gradient(to top, #ff8902, #ffb175 95%);
  color: white;
  text-align: center;
}

.interactive {
  grid-column: 2 / span 3;
  height: 100%;
  overflow-y: hidden;
}

#btnProjects {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 28px;
  margin-top: 14.640625rem;
}

#btnProjects:hover {
  box-shadow: 0 0 11px white;
  transform: scale(1.2);
}

.portrait {
  border: 2px solid black;
  width: 250px;
  height: 350px;
  min-height: 350px;
}

.btnSidebar {
  background-color: transparent;
  color: white;
  font-size: 20px;
  border: none;
}

.icons {
  margin: 0.5em;
  cursor: pointer;
}

.icons:hover {
  transform: scale(1.2);
}
